@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00c0ff, #4218b8);
  color: black;

  height: 1vh;
  width: auto;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

header.user_info {
  display: flex;
  align-items: center;
  height: 80px;
}

header img.profile_picture {
  height: 70%;
  margin: 10px;

  border-radius: 100%;
}

header img.profile_picture:hover {
  opacity: 80%;
  cursor: pointer;
}

header .user_data h2.account p {
  font-size: 20px;
  /* display: inline; */
}

header .user_data h2.account p:hover {
  text-decoration: underline;
  cursor: pointer;
}

header .user_data h2.account img.badge {
  position: absolute;
  transform: translate(5px, 5px);
  width: 18px;
}

header .user_data h3.username {
  font-size: 14px;
  font-weight: 400;
  color: #444;
}

header .user_data h3.username:hover {
  cursor: pointer;
  color: #555;
}

header .twitter_logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 14px;
}

header .twitter_logo img.logo {
  height: 40px;
}

main .text_box {
  margin-top: 5px;
  padding-inline: 10px 20px;

  font-size: 24px;
}

main .text_box a.hashtag {
  text-decoration: none;
  text-transform: uppercase;

  color: rgb(0, 172, 238);

  font-size: 22px;
}

main .text_box a.hashtag:hover {
  color: rgb(0, 172, 238, 0.8);
}

main time {
  display: block;

  margin-top: 10px;
  margin-left: 10px;

  font-size: 15px;
  color: #444;
}
